body {
    min-height: 100vh;
}

input {
    width: 100%;
    border: none;
}

form ul li {
    font-size: .75rem;
}

form p {
    font-size: .75rem;
}

form textarea {
    width: 20vmin;
    height: 3vmin;
}

main {
      flex: 1 0 auto;
}

.column-no-padding {
    padding: 0;
}

hr {
    margin: 0;
}