body {
    min-height: 100vh;
}

input {
    width: 100%;
    border: none;
}

form ul li {
    font-size: .75rem;
}

form p {
    font-size: .75rem;
}

form textarea {
    width: 20vmin;
    height: 3vmin;
}

.name-element {
    min-height: 12vmin;
}

img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    border-bottom: 1px solid rgb(231, 230, 230)
}

figure {
    height: 20vmin;
}