{% extends 'base.html' %}
{% block content %}
<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center mt-6 mb-6">
<div class="columns">
    <div class="column is-one-quarter">
        <p class="title is-3 container has-text-centered has-text-weight-medium is-family-monospace">
            {{country.common_name}}
        </p>
        <figure class="image is-centered">
            <img src="{{ country.flag_png }}" alt="{{ country.flag_alt }}">
        </figure>
    </div>
    <div class="column">
        <table class="table">
            <tr>
                <th>Official name:</th>
                <td>{{country.official_name}}</td>
            </tr>
            <tr>
                <th>Region:</th>
                <td>{{country.region}}</td>
            </tr>
            <tr>
                <th>Subregion:</th>
                <td>{{country.subregion}}</td>
            </tr>
            <tr>
                <th>Capital:</th>
                <td>{{country.capital}}</td>
            </tr>
            <tr>
                <th>Independent:</th>
                <td>{{country.independent}}</td>
            </tr>
            <tr>
        </table>
    </div>
    <div class="column">
        <table class="table">
            <tr>
                <th>Population:</th>
                <td>{{country.population}}</td>
            </tr>
            <tr>
                <th>Area:</th>
                <td>{{country.area}}</td>
            </tr>
            <tr>
                <th>Google Maps:</th>
                <td><a href="{{country.google_maps}}" target="_blank">link</a></td>
            </tr>
            <tr>
                <th>Currencies:</th>
                <td>{{country.currencies}}</td>
            </tr>
            <tr>
                <th>Languages:</th>
                <td>{{country.languages}}</td>
            </tr>
            <tr>
        </table>
    </div>
</div>
</div>
<div class="m-6 columns">
    <form class="column is-one-third column-no-padding" action="{% url 'add_comment' country.region country.common_name %}" method="POST">
        {% csrf_token %}
        {% for field in comment_form %}
        <div>
            <label class="label mt-2">Leave your comment:</label>
            <div class="input is-success" type="text">{{ field }}</div>
        </div>
        {% endfor %}
        <div>
            <input class="button is-success mt-3" type="submit" value="Add Comment">
        </div>
    </form>
</div>
    <div class="m-6">
    {% for comment in comments %}
    <label class="label is-inline-block">{{ comment.user.username }} left a comment:</label>
    <p class="is-inline-block">{{ comment.text }}</p>
    <div></div>
    {% endfor %}
    </div>
{% endblock %}