{% extends 'base.html' %}
{% block content %}

<div class="columns is-multiline py-6">
    {% for country in countries %}
    <div class="column is-one-fifth">
        <a href="{% url 'country' country.region country.common_name %}">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img class="" src="{{ country.flag_png }}" alt="{{ country.flag_alt }}">
                    </figure>
                </div>
                <p class="title is-4 p-4 container has-text-centered has-text-weight-medium is-family-monospace">
                    {{ country.common_name }}
                </p>
                <footer class="card-footer">
                    {% if country in visited %}
                        <a href="{% url 'country_visit_remove' country.region country.common_name country.id %}" class="card-footer-item">
                            <i class="fa-solid fa-plane-circle-check has-text-info"></i>
                        </a>
                    {% else %}
                        <a href="{% url 'country_visit' country.region country.common_name country.id %}" class="card-footer-item">
                            <i class="fa-solid fa-plane-circle-xmark has-text-grey-light	"></i>
                        </a>
                    {% endif %}

                    {% if country in wishlist %}
                    <a href="{% url 'country_wishlist_remove' country.region country.common_name country.id %}" class="card-footer-item">
                        <i class="fa-solid fa-heart-circle-check has-text-info"></i>
                    </a>
                    {% else %}
                    <a href="{% url 'country_wishlist' country.region country.common_name country.id %}" class="card-footer-item">
                        <i class="fa-solid fa-heart-circle-xmark has-text-grey-light	"></i>
                    </a>
                    {% endif %}
                </footer>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}